{% extends "layout.html"%}
{% block title %}Taskify{% endblock %}
{% block content %}

<body>
  <header>
    <nav>
      <ul>
        <li><img src="../static/images/logo.png" alt="company logo"></li>
        <li><a href="#footer">contact us</a></li>
      </ul>
    </nav>
    <h1 class='headers'>{{greeting}}</h1>
    <h2 class='headers'>welcome to your to-do list</h2>
    <h3 class='headers'>{{current_date}} | {{current_time}}</h3>
  </header>
<main>


  <form action="/addtask">
    <input type="submit" value="add new task" />
  </form>


  <h3 class='home-page-h3'>To-Do List</h3>

  <span id='listtasks'>
  </span>
</main>

<footer>
  <h4>Contact Us</h4>
  <p>81 Newgate St, London EC1A 7AJ</p>
  <p>01234 567 890</p>
  <p>email@taskify.com</p>
</footer>


</body>

<script type="text/javascript">
  url = 'http://127.0.0.1:5000/todos'
  fetch(url)
    .then(response => response.json())
    .then((data) => {
      console.log(data)

      let task = ''
      data.forEach((todo) => {
        task +=
          `
        <div id='list-tasks'>
        <ul>
        <li>
        ID: ${todo.id}
        <br/>

        Title : ${todo.title}
        <br/>

           Description :  ${todo.description}
          <br/>
          important : ${todo.important}
          <br/>

          status :
        ${todo.status}
        <br/>

        date:
        ${todo.data}
</li>

        </ul>
        <form action="/" method="POST" >
        <button type="submit" name="delete" value=${todo.id}> Delete</button>
         </form>

         </div>
         <form action="/update" method="POST" > 
         <button type="submit" name="update" value=${todo.id}> Update </button>
         </form>

        `;
      });
      document.getElementById('listtasks').innerHTML = task
    })
</script>

{% endblock %}
