{% extends "layout.html"%}
{% block title %}Taskify{% endblock %}
{% block content %}

<body>
  <header>
    <h1 class='headers'>{{greeting}}</h1>
    <h2 class='headers'>welcome to your to-do list</h2>
    <h3 class='headers'>{{current_date}} | {{current_time}}</h3>
  </header>
<main>


  <form action="/addtask">
    <input type="submit" value="Add new task" class='add-task-button' />
  </form>


  <h3 class='home-page-h3'>To-Do List</h3>

  <span id='listtasks'>
  </span>
</main>



</body>

<script type="text/javascript">
  url = 'http://127.0.0.1:5000/todos'
  fetch(url)
    .then(response => response.json())
    .then((data) => {
      console.log(data)

      let task = ''
      data.forEach((todo) => {
        task +=
          `
        <div id='list-tasks'>
        <ul>
        <li>
          <!--
        <p><span>ID: </span> ${todo.id}</p>
        -->
        <p><span>Title: </span>${todo.title}</p>
        <p><span>Description: </span>${todo.description}</p>
        <p><span>Important? </span> ${todo.important}</p>
        <!--Status:
        ${todo.status}
        <br/>-->
        <p><span>Due date: </span> ${todo.data}</p>
</li>

        </ul>
        <form action="/update" method="POST" >
        <button type="submit" id="update" name="update" value=${todo.id}> Update </button>
        </form>

        <form action="/" method="POST" >
        <button type="submit" id="delete" name="delete" value=${todo.id}> Delete</button>
         </form>



</div>
        `;
      });
      document.getElementById('listtasks').innerHTML = task
    })
</script>

{% endblock %}
